.order-con .ant-table-tbody > tr > td {
  border-bottom: none;
}

.img-box {
  width: 100px;
  height: auto;
}

.img-box .img {
  width: 100px;
}

.pad0 {
  padding: 0;
}

.red {
  color: #f56c1d;
  cursor: pointer;
}
