

.week-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &left{
    width: 30px;
    cursor: pointer;
    }
    &content{
        flex: 1;

        ul{
            display: flex;
            justify-content: space-between;
        }
    }
    &right{
        cursor: pointer;
        width: 30px;
    }
}