{
  "printWidth": 280,
  "singleQuote": true,
  "trailingComma": "none",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "printWidth": 300
      }
    }
  ],
  "arrowParens": "always"
}
