.echarts-content{
  .echartsTooltip{
    position: relative;
    &::after{
      content: '';
      position: absolute;
      bottom: -10px;
      left: 50%;
      margin-left: -5px;
      width: 10px;
      height: 10px;
      background-color: #fff;
      border: 1px solid #fff;
      transform: rotate(45deg);
      box-shadow: rgba(0,0,0,0.3) 2px 2px 3px 0px;
    }
  }
  .ant-spin-nested-loading{
    width: 100%;
    height: 100%;
    .ant-spin-container{
      width: 100%;
      height: 100%;
    }
  }
  .ant-select-selection{
    height: 40px;
    .ant-select-selection__rendered{
      height: 40px;
      line-height: 40px;
    }
  }
  .ant-calendar-input {
    text-align: center;
  }
 
  
}
