/*全局覆盖antd左对齐*/

.ant-table-thead>tr>th, .ant-table-tbody>tr>td, .ant-table-self tbody td {
    text-align: left;
}

/*覆盖面包屑颜色*/

#root .ant-layout .ant-breadcrumb {
    height: 45px;
    padding: 12px 0 0 10px;
    margin-bottom: 0;
    margin-left: 12px;
    margin-right: 12px;
    background-color: #fff;
}

/*表格checkBox的对其*/

#root .ant-table-tbody>tr>td.ant-table-selection-column {
    text-align: left;
}

/*全局表格表头颜色*/

#root .ant-table-thead>tr>th {
    color: rgba(0, 0, 0, 1);
    /*padding: 10px 8px*/
}

.operation-box {
    text-align: right;
}

.operation-box a {
    padding-left: 6px;
}

/*antd的tab样式*/

#root .ant-tabs-nav .ant-tabs-tab {
    margin: 0;
    font-size: 14px;
    line-height: 12px;
    padding: 21px 20px;
    color: #999;
}

#root .ant-tabs-nav .ant-tabs-tab-active {
    color: var(--primary-color);
    background: rgba(245, 108, 29, 0.06);
    border-radius: 4px 4px 0 0;
}

#root th, td {
    font-size: 14px;
}

#root .ant-table table {
    border-radius: 4px;
    border-collapse: separate
}

#root .ant-tabs-ink-bar-animated {
    height: 4px;
}

.img-item {
    width: 60px;
    height: 60px;
    padding: 5px;
    border: 1px solid #ddd;
    background: #fff;
    float: left;
    margin-right: 10px;
    border-radius: 3px
}

/* 输入框label选择 */

.ant-input-group-addon {
    background-color: #ffffff !important;
    width: 150px;
}

#mars-footer-panel {
    position: fixed!important;
  }
  #mars-footer-panel .mars-footer-legal,#mars-footer-panel .mars-footer-label{
    /* color: #fff!important; */
  }
  #onetrust-consent-sdk #onetrust-banner-sdk{
    margin-bottom:0;
  }
  .header-border-opacity::before{
    opacity: 1!important;
  }
  .ot-sdk-show-settings-wrapper{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #212CDB;
  }
  /* #mars-footer-panel .mars-footer-container{
    padding-bottom: 36px;
  } */
  .optanon-show-settings-button.optanon-toggle-display,
  .ot-sdk-show-settings {
    color: #68b631;
    border: 1px solid #68b631;
    padding: 0.8em 2em;
    /* position: fixed; */
  
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    z-index: 10;
  }
  #ot-sdk-btn.ot-sdk-show-settings:hover {
    color: #68b631;
  }
  
  .optanon-show-settings-button.optanon-toggle-display
    .optanon-show-settings-middle,
  .ot-sdk-show-settings .optanon-show-settings-middle {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }
  
  #ot-sdk-btn.ot-sdk-show-settings {
    background-color: #fff !important;
  }