.publicBox span {
  width: 17px !important;
  margin: 0 !important;
}

.rule-span {
  text-align: left !important;
  width: 400px !important;
  display: inline-block;
}

.loading-spin {
  left: 50%;
  top: 50%;
  position: fixed;
  z-index: 2;
}

.loading-spin .ant-spin-dot {
  width: 90px;
  height: 90px;
}