.orderDetail {
  h4 {
    margin-bottom: 10px;
  }

  .headBox {
    padding: 15px;
    background-color: #fafafa;
    height: 180px;
  }

  .ant-row {
    margin-bottom: 15px;

    p {
      margin-bottom: 2px;
    }
  }

  .overFlowtext {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
