.DashboardDetails-wrap {
  .DashboardDetails-title-wrap {
    background: #fff;
    margin: 12px 12px 0 12px;
    padding: 20px;
    .DashboardDetails-title {
      font-size: 20px;
      font-weight: bold;
    }
  }
  .DashboardDetails-main {
    background: #fff;
    margin: 12px 12px 0 12px;
    padding: 20px;
    min-height: 300px;
    .title {
      font-size: 18px;
      font-weight: bold;
    }
    .DashboardDetails-flow-chart-wrap {
      display: flex;
      margin: 0 auto;
      padding: 15px;
      width: 80%;
      max-height: 350px;
      .interface-list-wrap {
        padding: 15px;
        min-width: 300px;
        .interface-api-list {
          margin: 0;
          padding: 0;
          list-style: none;
          border-right: 2px solid #bd001c;
          .api-item {
            text-align: right;
            padding-bottom: 10px;
            padding-right: 10px;
            .api-item-box {
              line-height: 20px;
              color: #333;
              font-size: 14px;
            }
            .apiName {
              font-size: 16px;
              font-weight: bold;
              color: #333;
              cursor: pointer;
              span:first-child {

              }

              span:last-child {
                display: inline-block;
                padding-left: 6px;
              }
            }
          }
        }
      }
      .interface-module-wrap {
        display: flex;
        padding-top: 25px;
        .interface-module-left {
          .interface-module-name-wrap {
            padding: 10px 20px;
            width: 135px;
            .interface-module-name {
              position: relative;
              width: 75px;
              height: 35px;
              line-height: 35px;
              font-size: 14px;
              background-color: #e6e6e6;
              border: none;
              border-radius: 6px;
              font-weight: bold;
              color: #333;
              text-align: center;

              &::before {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -15px;
                display: inline-block;
                content: '';
                background-color: #bd001c;
                border-radius: 50%;
                width: 10px;
                height: 10px;
              }

              .arrows-box {
                position: relative;
                width: 30px;
                height: 2px;
                background-color: #999;

              }
              /**
              箭头组件在默认显示容器右边，
              **/
              // 左箭头
              .arrows-left {
                position: absolute;
                top: 25px;
                right: -40px;
                &.to-box-left {
                  left: -37px;
                }
                &.to-box-top {
                  width: 60px;
                  top: -45px;
                  left: 35%;
                  transform: rotate(90deg);
                }
                &::after {
                  display: inline-block;
                  content: '';
                  width: 0;
                  height: 0;
                  position: absolute;
                  left: -4px;
                  top: -4px;
                  border-right: 5px solid #999;
                  border-top: 5px solid transparent;
                  border-bottom: 5px solid transparent;
                }

                &.active {
                  background-color: #e5707e;
                  &::after {
                    border-right: 5px solid #e5707e;
                  }
                }
              }
              // 右箭头
              .arrows-right {
                position: absolute;
                top: 10px;
                right: -37px;
                &.to-box-left {
                  left: -40px;
                }
                &.to-box-top {
                  width: 60px;
                  top: -50px;
                  right: 35%;
                  transform: rotate(90deg);
                }

                &::after {
                  display: inline-block;
                  content: '';
                  width: 0;
                  height: 0;
                  position: absolute;
                  right: -4px;
                  top: -4px;
                  border-left: 5px solid #999;
                  border-top: 5px solid transparent;
                  border-bottom: 5px solid transparent;
                }
                &.active {
                  background-color: #e5707e;
                  &::after {
                    border-left: 5px solid #e5707e;
                  }
                }
              }
            }
            .upTime {
              padding: 10px 0;
              font-size: 12px;
              color: #999;
              word-break: break-all;
            }
          }
        }
        .interface-module-right {
          .interface-module-FGS-wrap {
            padding: 0 10px;
            .interface-module-FGS-box {
              width: 160px;
              height: 160px;
              background-color: #e5707e;
              line-height: 160px;
              border: none;
              border-radius: 6px;
              font-size: 18px;
              font-weight: bold;
              color: #333;
              text-align: center;
            }
            .interface-module-FGS-hint {
              padding-top: 40px;
              display: flex;
              .icon-hint {
                color: #e5707e;
                font-size: 12px;
                padding: 0 4px;
              }
              > p {
                width: 200px;
                color: #999;
                font-size: 14px;
                line-height: 16px;
              }
            }
          }
        }
      }
    }
  }

  .DashboardDetails-tab-wrap {
    .DashboardDetails-tab-title {
      display: flex;
      justify-content: space-between;
      padding: 15px 0;
      .tab-title-left {
        > span {
          font-size: 18px;
          font-weight: bold;
          padding-right: 10px;
        }
        > i {
          font-size: 14px;
          color: #e2001a;
        }
      }
      .tab-title-right {
        .tab-title-right-btn {
          color: #fff;
          font-size: 14px;
          width:129px;
          height:40px;
          background-color:#e1021a;
          border-radius:4px;
        }
      }
    }
  }
}