#productSearch {
  .searchHeader {
    background: #fafafa;
    padding-bottom: 20px;
    margin-top: 20px;

    .redTag {
      background: #e2001a;
      display: inline-block;
      width: 4px;
      height: 35px;
    }

    .resultTitle {
      margin-top: 5px;
    }

    .resultValue {
      color: #e2001a;
      margin-top: 20px;
    }
  }
}
