#subscriptionPlanStep {
  .ant-steps {
    padding: 30px 150px;
  }

  .separation {
    border-bottom: 3px dashed #e8e8e8;
    margin-bottom: 30px;
  }

  .steps-action {
    margin: 24px 0;
    text-align: center;

    .ant-btn {
      border-radius: 20px;
      width: 100px;

      .anticon {
        margin-left: 0;
      }
    }
  }

  .ant-steps-item-tail::after {
    border-bottom: 3px dashed #e8e8e8;
    background: #fff;
    border-radius: 0px;
  }

  .ant-steps-item-title {
    font-size: 14px;
  }

  .ant-steps-label-vertical .ant-steps-item-content {
    width: 130px;
  }

  .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after {
    border-bottom: 3px dashed #e2001a;
  }

  .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
    color: #e2001a;
  }

  .steps-content {
    min-height: 320px;

    h3 {
      color: #e2001a;
      font-weight: 700;
    }

    h4 {
      font-weight: 700;
      margin-top: 10px;
    }
  }
  .ant-calendar-picker {
    width: 100%;
  }

  // basicInformation
  .basicInformation {
    margin-top: 15px;

    .ant-form-item-label {
      text-align: left;
    }
  }

  // targetProduct
  .targetProduct {
    margin-top: 15px;
    .ant-table {
      border: 1px solid #d9d9d9;
      border-radius: 2px;
      border-radius: 2px;
      tr {
        border-top: 1px solid #d9d9d9;
      }
      .ant-table-tbody {
        .overflow {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 190px;
        }
        img {
          width: 30px;
          height: 30px;
          background: rgb(255, 255, 255);
        }
      }
      .noProduct {
        padding: 16px 0;
        .addProduct {
          border: 1px solid #e1021a;
          border-radius: 17px;
          border-radius: 17px;
          text-align: center;
          width: 100px;
          margin: auto;
          cursor: pointer;
          padding: 2px 0;
          span {
            font-size: 12px;
            color: #e20119;
          }
        }
      }
    }
  }
}

// add TargetProduct Modal
.addTargetProductModal {
  .formLable {
    width: 100px;
    text-align: center;
  }
  .formWrapper {
    width: 177px;
  }
}
