.container {
  min-height: calc(100vh - 230px);
}

.bar-button {
  z-index: 1000;
  width: 100%;
  position: fixed;
  // left: 336px;
  bottom: 0;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 4px 2px 5px 5px #eee;
  background: #fff;
  margin-left: 10px;
}

.spin-container {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
}

.turn-type {
  width: 80%;
  margin: 20px auto;
  p {
    margin-left: 10px;
  }
}
//.ant-pagination {
//  display: none;
//}
