.link {
  color: var(--primary-color);
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: color 0.3s;
  margin-right: 10px;
}

.max-td {
  max-width: 200px;
  word-break: break-word;
}
