.text-align-right {
  text-align: right;
}

.field-bar-title {
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
}

.field-item-container {
  padding: 5px;
  border: 1px solid #dfdfdf;

  .field-item {
    display: inline-block;
    margin: 5px;
    padding: 7px 15px;
    min-width: 150px;
    text-align: center;
    background-color: #ffe7e6;
  }
}

.display-field-item-container {
  border-left: 1px solid #dfdfdf;
  border-top: 1px solid #dfdfdf;

  .display-field-item {
    text-align: center;
    padding: 5px;
    height: 55px;
    border-right: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;

    .display-field-drag-item {
      display: inline-block;
      vertical-align: middle;
      margin: 5px;
      padding: 7px 15px;
      min-width: 150px;
      text-align: center;
      background-color: #ffe7e6;
    }

    i {
      display: inline-block;
      vertical-align: middle;
      padding: 0 3px;
    }
  }
}
